  * {
    box-sizing: border-box;
    text-align: justify;
  }
  h1 {
    margin-bottom: 25px;
    text-align: center;
    font-family: serif;
  }

  h2 {
    font-size: 125%;
  }

  div.col-lg-4.col-md-6{
    box-sizing: border-box;
  }
  
  p {
    display: block;
    border: 1px solid black;
    width: 90%;
    height: 150px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: white;
  }

  .title {
    border: 1px solid black;
    margin: 0px;
    margin-bottom: 20px;
    width: 20%;
    text-align: center;
    position: relative;
    float: right;
    margin-left: 100%;
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      border: 1px solid black;
      margin: 1%;
      position: relative;
      padding: 5px;
      box-sizing: border-box;
    }
    .col-lg-4 {
      width: 30%;
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6{
      float: left;
      border: 1px solid black;
      margin: 1.5%;
      position: relative;
      padding: 5px;
    }
    .col-md-6 {
      width: 45%;
    }
  }  

  @media (max-width: 767px) {
    .col-sm-1{
      float: left;
      border: 1px solid black;
      margin: 1.5%;
      position: relative;
      padding: 5px;
    }
    .col-sm-1 {
      width: 95%;
    }
  }  
